<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Calculator Suite">
    <test name="Test">
        <classes>
            <!-- <class name="com.android.calculator.CalculatorTest"/>
            <class name="com.android.calculator.MultiplicationTest"/> -->
            <!-- <class name="com.android.swagtest.LoginTest"/> -->
            <class name="com.android.swagtest.InventoryTest"/>
        </classes>
    </test>
</suite>