<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="API SIMRA Suite">
    <!-- <test name="Authentication Test">
      <parameter name="username" value="standard_user"></parameter>
      <parameter name="password" value="secret_sauce"></parameter>
      <parameter name="baseURL" value="https://www.saucedemo.com/v1/index.html"></parameter>

      <classes>
        <class name="com.juaracoding.ecom.AuthenticationTest"></class>
      </classes>
    </test> -->

    <test name="Group and GroupItem Test">
        <classes>
            <class name="com.juaracoding.apitestng.GroupTest2"></class>
            <class name="com.juaracoding.apitestng.GroupItemTest"></class>

        </classes>
    </test>
</suite>